<main>
  <ul>
  <% @recipes.each do |recipe| %>
    <li class="d-flex gap-3">
      <div>
        <%= link_to recipe_path(recipe.id), method: 'get' do %>
          <h2>
            <%= recipe.name %>
          </h2>
        <% end %>
      </div>
      <p>
        <%= recipe.description %>
      </p>        
    </li>
  <% end %>
  </ul>
  <%= button_to 'New Recipe', new_recipe_path, method: 'get' %>
</main>
    