.link-set {
  all: unset;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.2;
}

.title-set {
  all: unset;
  cursor: pointer;
}

.btn-1 {
  border: solid;
  padding: 5px 5px;
  background: #fff;
  box-shadow: 4px 4px 1px;
}
